.bg-dark-escom{
	background-color: #004f7f !important;
}

.bg-escom{
	background-color: #0047B6 !important;
}

.bg-light-escom{
	background-color: #80cfff !important;
}

.bg-lighter-escom{
	background-color: #bfe7ff !important;
}

.bg-gradient-escom{
	background-image: url("../img/blue_gradient_1.png");
	background-position: center;
	background-size: cover;
}